<section class="container d-flex flex-column flex-md-row gap-5 mt-5">
  <div class="w-100 w-md-50 ">
    <div>
      <h2>Contactez-nous</h2>
<br>
    </div>
    <div>
      <h3>Téléphone</h3>
      <p>+ 216 98383991 <br> + 216 53383991 </p>

    </div>
    <div>
      <h3>Email</h3>
     <p>lainecomfort&#64;gmail.com</p>

    </div>
    <div>
      <h3>Siège social</h3>
      <p>Route Mjez l beb, Tunis</p> <br>
    </div>
  </div>
</section>

<section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12782.725059379212!2d10.09418613807828!3d36.77821312094185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd318b2e4cea83%3A0xb649d61fb510811b!2sSidi%20Hassine%201%2C%20Tunis%2C%20Tunisie!5e0!3m2!1sfr!2sus!4v1755980304109!5m2!1sfr!2sus"
width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map">

    </iframe>
</section>
